html {
	background-color: #000;
}

.fahrt{
	color: #fff;
	background-color: #000;
	padding: 20px;
	text-align: top;
	font-size: 1.5rem;
	font-weight: bold;
}

#table_header{
	font-weight: bold;
	color: #b9b9b9;
	font-size: 1.3vw;
	padding: 1% 0 0 1%;
}

.putzplan th{
    padding: 5px 10px 5px 10px;
}

.putzplan td{
    padding: 5px 10px 5px 10px;
}

.fahrttabelle{
	color: #fff;
	background-color: #000;
	padding: 5px 10px 10px 10px;
	position: absolute;
	display: inline-block;
	width: 100%;
}

.fahrttabelle th{
    width: 20%;
    font-size: 1.5vw;
}

.fahrttabelle td{
    font-size: 1.5vw;
}

.putzplan{
    color: #fff;
	background-color: #000;
	padding: 10px 10px 10px 10px;
}

.due{
    background-color: #FFC300;
    color: black;
}

.overdue{
    background-color: #fe2d00;
}

.einkaufsliste{
	color: #fff;
	background-color: #000;
	padding: 5px 10px 10px 10px;
	position: left;
	margin-top: 28px;
}

#flexbox{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.inner_flexbox{
	display: flex;
	flex-direction: column;
}

#clock{
	color: #fff;
	background-color: #000;
	padding: 10px 10px 10px 10px;
	position: right;
	font-size: 7vw;
	text-align: center;
	vertical-align: middle;
}

td {
	padding: 5px;
	font-size: 1.5rem;
	text-align: center;
}

th {
	padding: 0px 10px 10px 10px;
	font-size: 1.5rem;
	text-align: center;
}

#muell{
    color: white;
    background-color: black;
}

#zaw{
    background-color: #fff;
}

#muell td{
    padding: 10px 10px 10px 10px;
    font-size: 1.8rem;
}

#xkcd_title{
    color: white;
    background-color: black;
    font-size: 1.8rem;
    text-align: center;
}

.xkcd{
    max-width: 60%;
}


.box{
	position: fixed;
	width: 25%;
	height: 25%;
	margin: 0;
	padding: 0;
}

#einseins{
	background-color: black;
	top: 0;
	left: 0;
	width: 75%;
}

#einszwei{
	background-color: green;
	top: 0;
	left: 75%;
	width: 25%;
}

#zweieins{
	background-color: black;
	top: 25%;
	left: 0;
	width: 60%;
}

#zweizwei{
	background-color: purple;
	top: 25%;
	left: 60%;
	width: 40%;
}


#dreieins{
	background-color: gold;
	top: 50%;
	left: 0;
	height: 40%;
}

#dreizwei{
	background-color: silver;
	top: 50%;
	left: 25%;
	height: 40%;
}

#dreidrei{
	background-color: lime;
	top: 50%;
	left: 50%;
}


#dreivier{
	background-color: aqua;
	top: 50%;
	left: 75%;
}

footer{
	color: #fff;
	background-color: #555;
	padding: 0.8% 0 0.8% 0;
	margin: 0;
	text-align: center;
	position: fixed;
	bottom: 0;
	height: 2%;
	left: 0;
	width: 100%;
	font-size: 1.1vw;
}

footer p{
	margin: 0;
	padding: 0;
}

marquee{
	color: white;
	background-color: black;
	position: fixed;
	top: 90%;
	left: 0;
	height: 8%;
	width: 100%;
	font-size: 1.7vw;
	margin: 0;
	padding: 0.6% 0 0.6% 0;
}

marquee p{
	margin: 0;
	padding: 0;
}