body {
	background-color: #fefefe;
	color: #666666;
}

h1 {
	font-size: 2em;
}
th, td {
    font-size: 18px;
  }
#weather {
	height: 10%;
}

#clock{
	font-size: 6em;
	text-align: center;
}

#date {
    font-size: 20px;
}

#zaw{
    background-color: white;
}

#image{
	background-color: #000;
	width: 100%;
}

#giffy{
		background-color: #fff;
}

.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #000000;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: #222222;
}

.table .thead-dark th {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}
